<header>
  <div class="top">
    <div class="logo">
      <a href="">
        <img src="../../assets/logo.svg" alt="">
      </a>
    </div>
    <div class="search-box">
      <div class="box">
        <img src="../../assets/search.png" width="25" alt="">
        <input type="text" placeholder="جستجو">
      </div>
    </div>
    <div class="empty"></div>
    <div class="accounting">
      <ul>
        <li>
          <a href="">
            <img src="../../assets/icons8-import-50.png" width="15" alt="">
            <span>ورود | ثبت نام</span>
          </a>
        </li>
        <li>
          |
        </li>
        <li>
          <a href="">
            <img src="../../assets/card.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
